{%- extends "base.html" %}
{%block content %}
    <h3> Courses Dashboard</h3>
    <form method="GET" action="/courses" class="mb-3">
        <label for="titleSearch" class="form-label">Search by Title:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="titleSearch" name="title" placeholder="Enter title">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <table id="data" class="table table-striped">
        <thead>
            <th> id</th>
            <th> name </th>
            <th> author </th>
            <th> endpoint </th> 
            <th> action </th> 
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td> <a href="/course?course_id={{ course.course_id }}">{{course.course_id }}</a></td>             
                <td> {{course.course_name }}</td>
                <td> {{course.course_author }}</td>
                <td> {{ course.course_endpoint}}</td> 
                <td>
                    <a href="/course?action=Edit&course_id={{ course.course_id }}" class="btn btn-primary">Edit</a>                  
                </td>            
            </tr>
            {% endfor %}
        </tbody>

    </table>
{%- endblock %}