{%- extends "base.html" %}

{%block content %}
    <h3> User Form</h3>
    <form method="POST" class="container">
        <label for="course_name"><b>Course Name:</b></label>
        <input type="text" placeholder="enter course name"  name="course_name" />
        <br><br>
        <label for="course_author"><b>course Author:</b></label>
        <input type="text" placeholder="enter course author" name="course_author" />
        <br><br>
        <label for="course_endpoint"><b>course  endpoint:</b></label>
        <input type="text" placeholder="enter course endpoint" name="course_endpoint"/>
        <br><br>         
        <button type="submit">Save</button>      
    </form>
{%- endblock %}